.scroll-stack-scroller {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.scroll-stack-inner {
  position: relative;
  width: 100%;
}

.scroll-stack-card {
  position: relative;
  width: 100%;
  transition: transform 0.1s ease-out, filter 0.1s ease-out;
}

.scroll-stack-end {
  height: 20vh;
}

